section.follow{
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 100px;

    h3{
        color: #fff;
        font-family: $poiret;
        font-size: 3em;
        font-weight: 200;
        margin-bottom: 20px;
    }

    button{
        padding: 14px 36px 13px 39px;
        background-color: transparent;
        color: $btn-color;
        border: 1px solid #e5bf4a;
        font-size: 18px;
        transition: 0.5s ease;
        cursor: pointer;
        font-weight: 200;

    }

    .container {
     width: 80%;
     margin: 5% auto 8% auto ;
    display: flex;
    justify-content: space-between;
        .box{
            width: 23%;
            img{
                width: 100%;
            }
        }

   
    }

    .resim-menu{
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        &::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: #ddd;
            transform: translateY(20px);
        }
        nav {
            width: 40%;
            
            
            ul{
                list-style: none;
                display: flex;
                justify-content: space-between;
                li{
                    position: relative;

                    &::after{
                        content: "";
                        width: 0;
                        height: 1px;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        background-color: $btn-color;
                        transform: translateY(10px);
                        transition: 0.5s ease;
                    }
                 
                &:hover::after{
                    width: 100%;
                }
                    
        
                    }
                    a{
                        text-decoration: none;
                        color: #fff;
                        font-size: 20px;
                        font-family: $jost;
                        transition: 0.5s ease;
                        &:hover{
                            color: $btn-color;
                        }
                    }
                }
            }
        }
    }

 @media only screen and (max-width:992px) {
     section.follow{
         .container{
             flex-wrap: wrap;
             .box{
                 width: 40%;
                 margin-bottom: 25px;
             }
         }

         .resim-menu{
             display: flex;
             flex-direction: column;
             nav {
                 width: 80%;
                 ul{
                     display: flex;
                 }
             }
         }
     }
 }