footer{
    width: 100%;
    height: auto;
    padding-bottom: 25px;
    >
    p {
        color: #fff;
        text-align: center;
        margin-top: 50px;
        font-family: $jost;

        .fas{
            color: $btn-color;
        }

        span{
            color: $btn-color;
        }
    }
    .container  {
        width: 80%;
        margin: 0 auto ;
        display: flex;
        justify-content: space-between;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: #ddd;
            transform: translateY(20px);
        }
        .yazi{
            width: 45%;
            color: #fff;
            text-align: start;
            font-family: $jost;
            

          .social{
              width: 100%;
              display: flex;
              justify-content: space-between;
                margin-top: 30px;
              button{
                background-color: transparent;
                color: #fff;
                border: 1px solid #fff;
               width: 130px;
               height: 40px;
               
                cursor: pointer;
                transition: 0.5s ease;
                font-size: 15px;
                font-family: $jost;
               
               

                i{
                    font-size: 15px;
                    margin-right: 10px;
                   
                }
                &:hover {
                    color: $btn-color;
                    border-color: $btn-color;
                }
            }
          }

        }

        .box{
            width: 20%;
            color: #fff;
            text-align: start;
            h4{
                color: $btn-color;
                font-family: $poiret;
                font-size: 25px;
                font-weight: 300;
            }
            >*{
                margin-bottom: 10px;
            }
            i{
                margin-bottom: 20px;
                font-size: 22px;
            }

            p{
                font-family: $jost;
            }

            .underline {
                transition:all 0.5s ease;
                padding: 0;
                cursor: pointer;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}